

<header>
  <div class="container">

      <nav>
          <div class="menu-icons">
              <i class='bx bx-menu bx-tada-hover'></i>
              <i class='bx bx-x bx-tada-hover'></i>
          </div>
          <a href="index.html" class="logo">
              <i class='bx bx-restaurant' ></i>
          </a>
          <ul class="nav-list">
              <li>
                  <a href="#">Home</a>
              </li>
              <li>
                  <a href="#">Menu
                      <i class='bx bx-chevron-down'></i>
                  </a>

                  <ul class="sub-menu">
                      <li>
                          <a href="#">Breakfast</a>
                      </li>
                      <li>
                          <a href="#">Lunch
                              <i class='bx bx-chevron-down'></i>
                          </a>
                          <ul class="sub-menu">
                              <li>
                                  <a href="#">Food</a>
                              </li>
                              <li>
                                  <a href="#">Food</a>
                              </li>
                              <li>
                                  <a href="#">More...
                                      <i class='bx bx-chevron-down'></i>
                                  </a>
                                  <ul class="sub-menu">
                                      <li>
                                          <a href="#">Food</a>
                                      </li>
                                      <li>
                                          <a href="#">Food</a>
                                      </li>
                                      <li>
                                          <a href="#">More...</a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">Dinner</a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="#">Our chefs</a>
              </li>
              <li>
                  <a href="#">Gallery</a>
              </li>
              <li>
                  <a href="#">Blogs</a>
              </li>
              <li>
                  <a href="#">Contact</a>
              </li>
              <li class="move-right btn">

                  <a href="#">Book a Table</a>
              </li>
          </ul>
      </nav>

  </div>

</header>

<section class="hero">
  <div class="text">
      <h2>Proudly serving</h2>
      <h1>Delicious Food Daily</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <a href="#" class="btn">Learn more</a>
  </div>
</section>
